<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{23.51961,166.12163}</string>
	<string>{19.684458, 151.021114}</string>
	<string>{30.680253, 145.407589}</string>
</array>
</plist>
