<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>{25.948167, -164.037633}</string>
	<string>{36.005339, 158.331125}</string>
	<string>{44.976216, -145.964115}</string>
	<string>{12.938502, -167.799985}</string>
</array>
</plist>
